<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041637534448-ot7fhemhu7t5uh3bh444lahh1npbc2kc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041637534448-ot7fhemhu7t5uh3bh444lahh1npbc2kc</string>
	<key>API_KEY</key>
	<string>AIzaSyDlhih8hUArJCzqDud7tuP4uFRxLtsGFwA</string>
	<key>GCM_SENDER_ID</key>
	<string>1041637534448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.healthcareApp</string>
	<key>PROJECT_ID</key>
	<string>eyecareapp-f51a4</string>
	<key>STORAGE_BUCKET</key>
	<string>eyecareapp-f51a4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041637534448:ios:c2141ca355bb0a5b663035</string>
</dict>
</plist>